/* You can add global styles to this file, and also import other style files */
.background{
  background-image: url(assets/background.svg);
  background-size: cover; /* Adjust as needed */
  background-repeat: repeat; /* Ensure tiling */
  animation: scroll-bg 10s linear infinite;
}

